.list-teams {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.container-new-button {
  padding: 1rem 2rem;
}
.new-button {
  background-color: #94b43b;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 4px;
  transition: all 0.4s;
}
.new-button:hover {
  background-color: #7f9e29;
}

@media (min-width: 425px) {
  .teams-page {
    padding: 0 2%;
  }
}

@media (min-width: 1024px) {
  .teams-page {
    padding: 0 10%;
  }
}