.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.177);
  display: flex;
  z-index: 2;
}
.modal {
  background-color: white;
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.modal-content {
  padding: 1rem;
  height: 100%;
  overflow: auto;
}
.container-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.container-buttons {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}
.btn-modal {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
}
.btn-modal:hover {
  background-color: #d7d7d7;
}
.btn-success {
  background-color: #94b43b;
  color: white;
}
.btn-success:hover {
  background-color: #7f9e29;
}
.input {
  padding: 5px;
}